@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fafafa;
  --background-color: #161616;
  --color-ash: #808080;
  --color-orange: #ff9900;
  --color-blue-light: #4b5d6e;
  --color-blue-dark: #343c60;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-sora);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: 1.6rem;
  font-weight: 400;
}

body::-webkit-scrollbar {
  background-color: var(--background-color);
}

body::-webkit-scrollbar-button {
  background-color: #80808075;
}

body::-webkit-scrollbar-button:active {
  background-color: #44444475;
}

body::-webkit-scrollbar-thumb {
  background-color: #80808050;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #80808075;
}

body > * {
  padding: 0 4vw;
}

.nav a {
  font-weight: 300 !important;
}

.nav a:hover,
.nav .active {
  color: var(--color-ash);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.noSelect {
  user-select: none;
}

.bgText {
  display: inline-block;
  position: absolute;
  font-family: var(--font-outfit);
  font-size: 15rem;
  font-style: 900;
  letter-spacing: 3px;
  opacity: 0.02;
  z-index: -10;
}

.link {
  cursor: pointer;
  color: var(--color-orange);
}

.link:hover {
  color: inherit;
}

/* Media Breakpoints */
/* 
	0	- 600px(37.5em): 		  Phones
	600 - 900px(56.25em): 	Tablet portriat
	900 - 1200px(75em): 		Tablet landscape	
  1200px & above:         Big Screen
*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 47%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 105%;
  }
}
