.header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 100%;
    display: flex;
    gap: 1rem;
}

.nav a {
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact {
    background: linear-gradient(to bottom, var(--color-orange), transparent);
}

.contact:hover {
    color: var(--background-color)!important;
}