/* Hero Section Styling */
.heroSection {
  width: 100%;
  height: calc(100vh - 6rem - 5vw);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.introBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.introText {
  font-size: 5rem;
  font-weight: 700;
}

.introSub {
  font-size: 2rem;
}

.socials {
  align-self: flex-end;
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
}

.socials svg {
  width: 2rem;
  height: 2rem;
  padding: 1.1rem;

  border: 1px solid var(--foreground-color);
  border-radius: 100%;
}

.socials svg:hover {
  color: var(--color-ash);
  border-color: var(--color-ash);
}

.heroSectBgText {
  bottom: 10%;
  right: 0;
  transform: translateX(58%);
}
