/* Hero Section Styling */
.heroSection {
  width: 100%;
  height: calc(100vh - 6rem - 5vw);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.introBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.introText {
  font-size: 5rem;
  font-weight: 700;
}

.introSub {
  font-size: 2rem;
}

.socials {
  align-self: flex-end;
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
}

.socials svg {
  width: 2rem;
  height: 2rem;
  padding: 1.1rem;

  border: 1px solid var(--foreground-color);
  border-radius: 100%;
}

.socials svg:hover {
  color: var(--color-ash);
  border-color: var(--color-ash);
}

.heroSectBgText {
  bottom: 10%;
  right: 0;
  transform: translateX(58%);
}

/* About Section Styling */
.aboutSection {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.abtHeading {
  font-size: 2rem;
  font-weight: 600;
  width: 40%;
  color: var(--color-blue-light);
}

.txtBox {
  width: 45%;
}

.aboutSection > * {
  flex-shrink: 0;
}

.servicesBox {
  width: 100%;
  padding: 0 5vw;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12vw;
}

.logoImg {
  width: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutSectBgText {
  bottom: 15%;
  left: 0;
}

/* Projects | Works Section */
.wrkSection {
  background-image: url("./assets/images/question-marks-bg.svg");
  background-position: center;
  background-size: contain;
}

.wrkTxtBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrkHeading {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-blue-light);
}

.headingSub {
  width: 45%;
  flex-shrink: 0;
}

.displayBox {
  margin-left: 15vw;
  padding-bottom: 2rem;
  display: flex;
  gap: 4rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
}

.displayBox::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 1rem;
}

.displayBox::-webkit-scrollbar-button {
  visibility: hidden;
}

.displayBox::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  border-radius: 1rem;
}

.displayBox::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: var(--color-ash);
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    var(--color-ash),
    transparent,
    transparent
  );
}

/* Utility Class Style */
.wrkSection,
.testimonialSection {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.scrollBtn {
  margin-left: 15vw;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/*  */
.testimonialsBox {
  margin-left: 15vw;
  display: flex;
  gap: 5rem;
  overflow-x: scroll;
}

.testimonialsBox::-webkit-scrollbar {
  display: none;
}

.CTASection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.CTA {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-blue-light);
}
